<div class="flex-container">
  <div class="about-start">
    <div class="about-image">
      <img src="../../../assets/about-images/about-image.jpeg" alt="" />
    </div>
    <div class="about-info">
      <h2>Daniel Pashaliyski</h2>
      <p>
        I'm Daniel a innovative Front-End developer who loves to code. I don’t
        like to define myself by the work I’ve done. I define myself by the work
        I want to do, skills can be taught, personality is inherent. I prefer to
        keep learning, continue challenging myself, and do interesting things
        that matter, fueled by high energy levels and boundless enthusiasm.
      </p>
    </div>
  </div>
  <div class="about-me">
    <div class="coding">
      <h2>01.Coding</h2>
      <p>
        I'm coding in every free second I have, I just love doing it, it makes
        my thinking structured and the sheer joy of making things. At the end of
        the day, you have created something that didn’t exist that morning, and
        that is in and of itself satisfying. The joy of always learning, which
        springs from the nonrepeating nature of the task. Most of all, it
        teaches me a lot about myself.
      </p>
    </div>
    <div class="sports">
      <h2>02.Sport</h2>
      <p>
        Sports is obsession, sports is aesthetically pleasing, it is like the
        theater, it is a venue for emotional expression. It is an escape from
        real-world troubles. It is a sense of belonging, a connection to a wider
        world. Sport is powerful tool for developing life skills.
      </p>
    </div>
    <div class="nature">
      <h2>03.Hiking</h2>
      <p>
        I rarely miss a day in which I'm not hiking to concentrate myself, clear
        my thoughts and free it from anxiety. It offers you an understanding of
        the cycle of life and how each creation connects with each other. I love
        being part of the nature.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
