<div class="about-start">
  <div class="about-image">
    <img src="../../../assets/about-images/about-image.jpeg" alt="" />
  </div>
  <div class="about-info">
    <h2>Daniel Pashaliyski</h2>
    <p>
      I'm Daniel a innovative Front-End developer who loves to code. I don’t
      like to define myself by the work I’ve done. I define myself by the work I
      want to do, skills can be taught, personality is inherent. I prefer to
      keep learning, continue challenging myself, and do interesting things that
      matter, fueled by high energy levels and boundless enthusiasm.
    </p>
  </div>
</div>
<div class="about-me">
  <div class="coding"></div>
  <div class="sports"></div>
  <div class="nature"></div>
</div>
<app-footer></app-footer>
