.start-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4.25em);
  background-color: rgba(0, 0, 0, 0.699);
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(3px);
  z-index: -999;
}
.content {
  max-width: 400px;
  margin: 0 auto;
}
.content p {
  text-align: center;
  color: rgb(221, 221, 221);
}
.content p:first-of-type {
  margin-bottom: 15px;
  font-size: 5.5em;
  line-height: 1.3em;
  font-style: italic;
}
.content p:last-of-type {
  font-size: 1.2em;
  font-weight: bold;
}
.scroll-down {
  text-align: center;
  margin-top: 50px;
}

/* Skills */
.skills-homepage {
  padding: 30px 0;
  background-color: #139187;
}
.skills-homepage h2 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.skills-homepage .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
.skills-homepage .skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.skills-homepage .skills-content .skills-me,
.skills-about {
  flex-basis: 50%;
  padding: 15px;
  color: #fff;
  font-weight: bold;
}
.skills-homepage .skills-content .skills-me {
  font-size: 2.5em;
  line-height: 1.3em;
  text-align: right;
}
.skills-homepage .skills-content .skills-about {
  margin-top: 10px;
  font-size: 1em;
}

/* Porojects */
.projects-homepage {
  padding: 30px 0;
}
.projects-homepage h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
.projects-homepage .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 310px));
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}

/* More */
.more-homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.more-homepage .more-about,
.more-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 600px;
}
.more-homepage .about-content,
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  transition: border-radius 0.5s, height 0.5s;
}
.more-homepage .more-about {
  background-color: #efeee5;
}
.more-homepage .more-contact {
  background-color: #139187;
}
.more-homepage .about-content {
  border: 10px solid #139187;
}
.more-homepage .contact-content {
  border: 10px solid #efeee5;
}
.more-homepage .about-content:hover {
  cursor: pointer;
  border-radius: 7px;
  height: 30%;
}
.more-homepage .contact-content:hover {
  cursor: pointer;
  border-radius: 7px;
  height: 30%;
}
.more-homepage .contact-content .text p {
  color: #fff;
}
.more-homepage .about-content .text p {
  color: #139187;
}
.more-homepage .about-content .text p:first-of-type {
  font-size: 1.2em;
  font-style: italic;
}
.more-homepage .about-content .text p:last-of-type {
  font-size: 3em;
}

.more-homepage .contact-content .text p:first-of-type {
  font-size: 1.1em;
  font-style: italic;
}
.more-homepage .contact-content .text p:last-of-type {
  font-size: 3em;
}

@media screen and (max-width: 800px) {
  .more-homepage .more-about,
  .more-contact {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .bg-img {
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .more-homepage .about-content,
  .contact-content {
    width: 90%;
    height: 50%;
  }
  .content {
    max-width: 100%;
  }
  .content p:first-of-type {
    font-size: 3.5em;
  }

  .skills-homepage .skills-content .skills-me,
  .skills-about {
    flex-basis: 100%;
  }
  .skills-me p {
    text-align: center;
  }
  .footer-homepage .container-footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}
