<div class="start-homepage">
  <img
    class="bg-img"
    src="../../../assets/logo/bg-image/backgroundImage.jpeg"
    alt=""
  />
  <app-navbar></app-navbar>
  <div class="content">
    <p>Not Your Average Software Engineer</p>
    <p>Get ready to turn you ideas into reallity</p>
  </div>
  <div class="scroll-down">
    <!-- <app-scroll-down></app-scroll-down> -->
  </div>
</div>
<div class="skills-homepage">
  <div class="container">
    <div class="skills-content">
      <div class="skills-me">
        <p>Hi. I'm Daniel, nice to meet you. Please take a look around!</p>
      </div>
      <div class="skills-about">
        <p>
          I am passionate about building excellent software that improves the
          lives of those around me. I specialize in creating software using
          HTML/CSS, JavaScript, Angular, React, TypeScript, Firebase, Bootstrap
          and many more.
        </p>
      </div>
    </div>
    <div class="skills-container">
      <app-card
        *ngFor="let skill of skillsService.mySkillsImg"
        [image]="skill.img"
        [size]="skill.size"
      ></app-card>
    </div>
  </div>
</div>
