<div class="start-homepage">
  <img
    class="bg-img"
    src="../../../assets/logo/bg-image/backgroundImage.jpeg"
    alt=""
  />
  <app-navbar></app-navbar>
  <div class="content">
    <p>Not Your Average Software Engineer</p>
    <p>Get ready to turn you ideas into reallity</p>
  </div>
  <div class="scroll-down">
    <app-scroll-down></app-scroll-down>
  </div>
</div>
<div class="skills">
  <!-- <app-card
    image="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"
  ></app-card> -->
</div>
