.card {
  position: relative;
  background: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card img {
  align-self: center;
  width: 70%;
  height: 70%;
}
