<div class="container">
  <h2>Contact</h2>
  <form [formGroup]="contactForm" (ngSubmit)="handleFormSubmit()">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          formControlName="name"
          class="input"
          type="text"
          placeholder="e.g Daniel Pashaliyski"
        />
      </div>
    </div>
    <!--Name Validation-->
    <app-validation [control]="contactForm.get('name')"></app-validation>
    <!--Name Validation-->

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
          formControlName="email"
          class="input"
          type="email"
          placeholder="e.g. daniel@gmail.com"
        />
      </div>
    </div>
    <!--Email Validation-->
    <app-validation [control]="contactForm.get('email')"></app-validation>
    <!--Email Validation-->

    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <input
          formControlName="subject"
          class="input"
          type="text"
          placeholder="e.g. Can you please contact me ?"
        />
      </div>
    </div>
    <!--Subject Validation-->
    <app-validation [control]="contactForm.get('subject')"></app-validation>
    <!--Subject Validation-->

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          formControlName="message"
          class="textarea"
          placeholder="Message"
        ></textarea>
      </div>
    </div>
    <!--Message Validation-->
    <app-validation [control]="contactForm.get('message')"></app-validation>
    <!--Message Validation-->

    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <button
          class="button is-primary"
          type="submit"
          [disabled]="contactForm.invalid"
        >
          Submit
        </button>
      </p>
      <p class="control">
        <button type="reset" class="button is-outlined">
          Cancel
        </button>
      </p>
    </div>
  </form>
</div>
