nav {
  background-color: rgba(0, 0, 0, 0.281);
  z-index: 5;
}
.navbar-brand .navbar-item {
  padding-top: 0;
}

.navbar-menu .navbar-end a {
  font-weight: bold;
  color: #fff;
}
.navbar-menu .navbar-end a:hover {
  color: #139187;
  background-color: unset;
  cursor: pointer;
}

.brand-logo {
  position: absolute;
  top: -25px;
  left: 5px;
  min-height: 100px;
  min-width: 100px;
}
/* img {
  min-height: 120px;
  width: 120px;
} */
