nav {
  background-color: rgba(0, 0, 0, 0.281);
  z-index: 5;
}
.navbar-brand .navbar-item {
  padding-top: 0;
}

.navbar-menu .navbar-end a {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in;
  background-color: unset;
}
.navbar-menu .navbar-end a:hover {
  transition: color 1s;
  color: #139187;
  border-bottom: 1px solid #139187;
  cursor: pointer;
}

.brand-logo {
  position: absolute;
  top: -21px;
  left: 5px;
  min-height: 95px;
  min-width: 95px;
}
