header {
  display: block;
  width: 100%;
}
.columns {
  margin: 0;
}
.column {
  padding: 0;
}
nav {
  background-color: rgb(0, 0, 0);
  z-index: 5;
}

.navbar-brand .navbar-item {
  padding-top: 0;
}

.navbar-menu .navbar-end a {
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in;
  background-color: unset;
}
.navbar-menu .navbar-end a:hover {
  transition: color 1s;
  color: #67b678;
  border-bottom: 2px solid #67b678;
  cursor: pointer;
}

.brand-logo {
  position: absolute;
  top: -15px;
  left: 5px;
  min-height: 100px;
  min-width: 100px;
}
.is-active .navbar-end a {
  color: black;
}

@media screen and (min-width: 1024px) {
  .navbar {
    min-height: 4.25em;
  }
}
@media screen and (max-width: 1023px) {
  .brand-logo {
    top: -12px;
    min-width: 80px;
    min-height: 80px;
  }
}
