<div class="footer-homepage">
  <div class="container footer">
    <p>@ 2020 Daniel Pashaliyski.</p>
    <div class="social">
      <a href="https://linkedin.com/in/daniel-pashaliyski-ab65baa0">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/dontlookatmee">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://facebook.com/daniel.pashaliyski">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
